.small-widget {
    margin-right: 30px;
    flex: 1;
}

.small-widget-container {
    padding: 20px;

    .small-widget-title {
        font-size: 19px;
    }
}


.new-members-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: inherit;
}