.chart-container {
    margin-top: 30px;
    padding: 2.5rem;
    padding-bottom: 1.5rem;
    box-shadow: 0 0 15px -10px rgba($color: #000000, $alpha: 0.75);
}

.chart-title {
    margin: -5px 0 20px 0;
}