.large-widget {
    flex: 2;
}

.large-widget-container {
    padding: 20px;
    width: 100%;
}

.large-widget-title {
    font-size: 19px;
}

.large-widget-table {
    width: 100%;

    th {
        font-size: 13px;
    }
}